// STYLING-VARIABLES
// #################

// COLORING
// ********
$highlight-color-1: #2c5067;        //rgb(43, 81, 105);
$highlight-color-40: rgba(44, 80, 103, .4);
$highlight-color-60: rgba(44, 80, 103, .6);
$highlight-color-80: rgba(44, 80, 103, .8);
$content-background: #d6d6d6;

// SIZING
// ******
$page-width: 100vw;
$page-height: 100vh;
$page-header-height: 48px;
$menu-height: 40px;
$content-header-height: 48px;

$gap-size: 12px;
$scrollbar-width: 6px;

$quicklinks-width: 260px;
$add-infos-width: 260px;
$quicklinks-header-width: calc($quicklinks-width - $scrollbar-width);
$add-infos-header-width: calc($add-infos-width - $scrollbar-width);

$content-width-show-all: calc(100% - $quicklinks-width - $add-infos-width);
$content-width-quicklinks-hidden: calc(100% - $quicklinks-width);
$content-width-add-infos-hidden: calc(100% - $add-infos-width);
$content-width-only-tiles: calc(100%);



// Element-Styling
.button {
    border: 1px solid rgba(0, 0, 0, .14);
    border-radius: 4px;
    padding: 4px 8px;
    color: rgba(0, 0, 0, .6);
    margin: 0px 10px;
}

.button:hover {
    background-color: rgba(0, 0, 0, .08);
    cursor: pointer;
}

.button-default:hover {
    background-color: rgba(0, 0, 0, .08);
    cursor: pointer;
}

.button-active {
    background-color: $highlight-color-80;
    color: white;
}

.button-active:hover {
    background-color: $highlight-color-60;
    cursor: pointer;
}



// Page-Styling
// ############

.page-structure {
    background-color: white;
    display: grid;
    grid-template-rows: $page-header-height $menu-height auto;
	width: $page-width;
	height: $page-height;
	position: fixed;
}
