<!-- HEADER -->
<!-- ****** -->
<div class="page-header-background">
    <div class="page-header-wrapper">

        <div class="page-header-left">
            <div class="burger-button-wrapper">
                <div class="burger-button-background">
                    <div class="burger-button">
                        <img src="../assets/earth.svg" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="page-header-center">
            <div class="page-header-logo">
                <span>
                    <!-- <a routerLink="/">LOGO</a> -->
                    LOGO
                </span>
            </div>
        </div>

        <div class="page-header-right">
            <div class="page-header-functions">
                <span>Functions</span>
            </div>
        </div>

    </div>
</div>
