<!-- HEADER -->
<!-- ****** -->
<div class="page-header-background">
    <div class="page-header-wrapper">

        <!-- Header-Left / Burger-Button -->
        <!-- --------------------------- -->
        <div class="page-header-left">
            <div class="burger-button-wrapper">
                <div class="burger-button-background">
                    <div class="burger-button">
                        <img src="../assets/earth.svg" alt="">
                    </div>
                </div>
            </div>
        </div>

        <!-- Header-Middle / Logo -->
        <!-- -------------------- -->
        <div class="page-header-center">
            <div class="page-header-logo">
                <span>
                    <a routerLink="/dashboard">LOGO</a>
                </span>
            </div>
        </div>

        <!-- Header-Right / Functions -->
        <!-- ------------------------ -->
        <div class="page-header-right">

            <!-- Button-Example -->
            <!-- -------------- -->
            <div class="header-function-button">
                <div class="profile-dropdown">
                    <button class="dropbtn">Button</button>

                </div>
            </div>

            <!-- Profile-Button -->
            <!-- -------------- -->
            <div class="header-function-button">
                <div class="profile-dropdown">
                    <button class="dropbtn">Max Mustermann</button>
                    <div class="dropdown-content">
                        <a>(xxx)</a>
                        <a>(xxx)</a>
                        <a class="logout" routerLink="/home">Abmelden</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
