// HEADER
// ######
.page-header-background {
	background-color: white;
	width: var(--header-width);
	height: var(--header-height);
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
	position: fixed;
	z-index: 100;

	.page-header-wrapper {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
        justify-content: space-between;

        .page-header-left {
            width: 33%;

            .burger-button-wrapper {
                width: var(--primary-sizing-factor);
                height: var(--primary-sizing-factor);
                display: flex;
                align-items: center;
                justify-content: center;

                .burger-button-background {
                    // background-color: white;
                    width: 32px;
                    height: 32px;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .burger-button {
                        margin-top: 1px;
                        img {
                            height: 20px;
                        }
                    }
                }

                .burger-button-background:hover {
                    background-color: rgba(0, 0, 0, 0.15);
                }
            }
        }

        .page-header-center {
            width: 34%;
            display: flex;
            justify-content: center;

            .page-header-logo {

                span {
                    font-size: 1.4em;
                    font-weight: bold;
                }
            }
        }

        .page-header-right {
            // background-color: lightblue;
            width: 33%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: 4px;

            .header-function-button {
                background-color: rgba(0, 0, 0, 0.1);
                // background-color: lime;
                height: 32px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                border: 1px solid rgba(0, 0, 0, 0.12);
                border-radius: 6px;
                margin-left: 6px;


                .profile-background {

                    padding-right: 8px;

                    .icon-background {
                        margin-right: 4px;
                        padding: 1px 2px 0px 6px;

                        img {
                            height: 20px;
                        }
                    }

                    .name-wrapper {
                        display: flex;
                        flex-direction: column;

                        .name {
                            font-size: 0.9em;
                            font-weight: bold;
                            padding-top: 1px;
                        }

                        .department {
                            font-size: 0.8em;
                        }
                    }

                }

                .profile-background:hover {
                    background-color: rgba(0, 0, 0, 0.20);
                    border: 1px solid rgba(0, 0, 0, 0.22);
                    cursor: pointer;
                }
            }
        }
    }
}
