<!-- HEADER -->
<!-- ****** -->
<div class="page-header-background">
    <div class="page-header-wrapper">

        <div class="page-header-left">
            <div class="burger-button-wrapper">
                <div class="burger-button-background">
                    <div class="burger-button">
                        <img src="../assets/earth.svg" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="page-header-center">
            <div class="page-header-logo">
                <span>
                    <!-- <a routerLink="/">LOGO</a> -->
                    LOGO
                </span>
            </div>
        </div>

        <div class="page-header-right">


            <div class="header-function-button">

                Button

                <!-- <div class="profile-background">
                    <div class="icon-background">
                        <img src="../../assets/user.svg" alt="">
                    </div>
                    <div class="name-wrapper">
                        <span class="name">UserName</span>
                        <span class="department">Department</span>
                    </div>
                </div> -->
            </div>

            <div class="header-function-button">

                Button

            </div>




        </div>
    </div>
</div>
