<div class="page-structure">

    <!-- HEADER -->
    <!-- ****** -->
    <div class="header-container">
        <div class="searching-container">
            <div class="searching-background">
                <img src="../../assets/calendar2.svg" alt="">
                <span>Searching...</span>
            </div>
        </div>
        <div class="logo">
            <img src="../../assets/logo-design-49570.png" alt="">
        </div>
        <div class="function-wrapper">
            
            <!-- TimeTracking -->
            <!-- ------------ -->
            <div class="dropdown">
                <button class="drop-button">
                    <img src="../../assets/bell.svg" alt="">
                </button>
                <div class="drop-content time-tracking">
                    <!-- todo -->
                    Time-Tracking
                </div>
            </div>

            <!-- Profile-Button -->
            <!-- -------------- -->
            <div class="dropdown" style="float:right;">
                <button class="drop-button profile">
                    Maximilian Mustermann
                </button>
                <div class="drop-content">
                  <a>Settings</a>
                  <a routerLink="/partner">Logout</a>
                </div>
            </div>

        </div>
    </div>

    
    <!-- MENU-STRUCTURE -->
    <!-- ************** -->
    <div class="menu-container">

        <div class="menu-item-container" style="padding-right: 8px; border-right: 1px solid #c0c0c0">            
            <div class="menu-item-icon">
                <img class="menu-item" src="../../assets/grid.svg" alt="">
            </div>
        </div>

        <div class="menu-item-container">
            <div class="menu-item-icon">
                <img class="menu-item" src="../../assets/compass.png" alt="">
            </div>
            <div class="menu-item-text">
                Favorites
            </div>
        </div>

        <div class="menu-item-container active">
            <div class="menu-item-icon">
                <img class="menu-item" src="../../assets/compass.png" alt="">
            </div>
            <div class="menu-item-text">
                Menuname 1
            </div>
        </div>

        <div class="menu-item-container">
            <div class="menu-item-icon">
                <img class="menu-item" src="../../assets/compass.png" alt="">
            </div>
            <div class="menu-item-text">
                Menuname 2
            </div>
        </div>

        <div class="menu-item-container">
            <div class="menu-item-icon">
                <img class="menu-item" src="../../assets/compass.png" alt="">
            </div>
            <div class="menu-item-text">
                Menuname 3
            </div>
        </div>

    </div>
    

    <!-- CONTENT -->
    <!-- ******* -->
    <div class="content-container">
        <div class="content-background">

            <!-- Content-Header -->
            <!-- ************** -->
            <div class="content-header-container">

                <!-- Content-Header > Button to toggle the Quicklink visibility -->
                <!-- ********************************************************** -->
                <div [ngClass]="{'content-header-button': myQuicklinksVisible, 'content-header-button-inactive': !myQuicklinksVisible}" 
                    style="margin-right: 8px;" (click)="setMyQuicklinksVisible()">
                    Quicklinks
                </div>

                <!-- Content-Header > Title -->
                <!-- ********************** -->
                <div class="content-header-title">
                    Menuname 1
                </div>

                <!-- Content-Header > Button to toggle the ADD-Info visibility -->
                <!-- ********************************************************* -->
                <div [ngClass]="{'content-header-button': additionalInformationVisible, 'content-header-button-inactive': !additionalInformationVisible}"
                    style="margin-right: 8px;" (click)="setAdditionalInformationVisible()">
                    Additional Information
                </div>

            </div>

            <!-- Content-Wrapper > Quicklinks / Main-Menu / Additional Informations -->
            <!-- There are different CSS-Classes for the Variants (full / without Quicklinks / without AddInfos / Tiles only) -->
            <!-- ************************************************************************************************************ -->
            <div [ngClass]="{'content-wrapper-full': myQuicklinksVisible && additionalInformationVisible,
                             'content-wrapper-quicklinks-hidden': !myQuicklinksVisible && additionalInformationVisible,
                             'content-wrapper-add-info-hidden': myQuicklinksVisible && !additionalInformationVisible,
                             'content-wrapper-content-only': !myQuicklinksVisible && !additionalInformationVisible}">

                <!-- Quicklinks-Area -->
                <!-- *************** -->
                <div class="quicklink-container">

                    <div class="quicklink-header-container">
                        <span class="quicklink-header-title">My Quicklinks</span>
                        
                        <input class="quicklink-header-searching" type="text" placeholder="Searching...">
                    </div>

                    <div class="quicklink-items-wrapper">

                        <div class="quicklink-item-container" *ngFor="let quicklink of quicklinks, index as i">
                            <div class="quicklink-drag-icon">
                                <img src="../../assets/menu.svg" alt="">
                            </div>

                            <div class="quicklink-item-title">    
                                {{quicklink}} {{i+1}}
                            </div>

                            <div class="quicklink-actions-icon">
                                <img src="../../assets/more.svg" alt="">
                            </div>
                        </div>
                        
                    </div>

                </div>

                <!-- MainContent-Area -->
                <!-- **************** -->
                <div class="main-content-container">

                    <!-- MainContent-Header -->
                    <!-- ****************** -->
                    <div class="main-content-header-wrapper">Main-Content-Header</div>

                    <!-- MainContent-Tiles -->
                    <!-- ***************** -->
                    <div class="main-content-tiles-wrapper">
                        <div class="main-content-tile-background" *ngFor="let tile of tiles, index as i" (click)="setAddInfo(tile + ' ' + (i + 1))">
                            <h1>{{tile}} {{i+1}}</h1>
                        </div>
                    </div>

                    <!-- MainContent-ActionMenu -->
                    <!-- ********************** -->
                    <div class="main-content-bottom-actions">Bottom-Action-Menu</div>

                </div>

                <!-- Additional-Info-Area -->
                <!-- ******************** -->
                <div class="add-info-container">

                    <!-- AddInfo-Header -->
                    <!-- ************** -->
                    <div class="add-info-header">
                        AddInfo-Header
                    </div>

                    <!-- AddInfo-Content -->
                    <div class="add-info-wrapper">

                        <div class="add-info-item" *ngIf="addInfo">
                            {{addInfo}}
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>