<div class="menu-container">

    <div class="menu-wrapper">

        <!-- HEADER LEFT -->
        <!-- *********** -->
        <div class="menu-wrapper left">

            <div class="header-item-container-1 logo">
                <img src="../../assets/logo-design-49570.png" alt="">
            </div>

            <div class="header-item-container-1">
                <div class="header-item-container-2" style="padding-left: 0px">
                    <button class="icon">
                        <span class="icon-search" style="font-size: 1.2em"></span>
                    </button>
                </div>
            </div>

            <div class="header-item-container-1">
                <div class="header-item-container-2">
                    <button class="icon">
                        <span class="icon-star favorite" style="font-size: 1.5em; position: relative; top: 1px;"></span>
                    </button>
                </div>
            </div>

            <div class="header-item-container-1 pre-active">
                <div class="header-item-container-2">
                    <button class="icon">
                        <span class="icon-grid" style="font-size: 1.3em; position: relative; top: 1px;"></span>
                    </button>
                </div>
            </div>

            <div class="header-item-container-1 active">
                <div class="header-item-container-2">
                    <button>
                        <span>Workspace</span>
                    </button>
                </div>
            </div>

            <div class="header-item-container-1 post-active">
                <div class="header-item-container-2">
                    <button>
                        <span>
                            Button
                        </span>
                    </button>
                </div>
            </div>

            <div class="header-item-container-1">
                <div class="header-item-container-2">
                    <button>
                        <span>
                            Button
                        </span>
                    </button>
                </div>
            </div>

            <div class="header-item-container-1">
                <div class="header-item-container-2">
                    <div class="dropdown">
                        <button class="drop-button">
                            <span>
                                Dropdown
                            </span>
                        </button>
                        <div class="drop-content-container">
                            <div class="drop-content-wrapper">
                                <div class="drop-item-container">
                                    Dropdown-Item
                                </div>
                                <div class="drop-item-container">
                                    Dropdown-Item
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header-item-container-1">
                <div class="header-item-container-2">
                    <button>
                        <span>
                            Button
                        </span>
                    </button>
                </div>
            </div>

            <div class="header-item-container-1">
                <div class="header-item-container-2">
                    <div class="dropdown">
                        <button class="drop-button">
                            <span>
                                Dropdown
                            </span>
                        </button>
                        <div class="drop-content-container">
                            <div class="drop-content-wrapper">
                                <div class="drop-item-container">
                                    Dropdown-Item
                                </div>
                                <div class="drop-item-container">
                                    Dropdown-Item
                                </div>
                                <div class="drop-item-container">
                                    Dropdown-Item
                                </div>
                                <div class="drop-item-container" routerLink="/test3">
                                    TEST-3
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>



        <!-- HEADER RIGHT -->
        <!-- ************ -->
        <div class="menu-wrapper right">
            right
        </div>

    </div>

</div>
