<div class="menu-container">

    <div class="menu-wrapper">

        <div class="menu-wrapper left">

            <div class="header-item-container-1 logo">
                Logo
            </div>

            <div class="header-item-container-1">
                <div class="header-item-container-2">
                    <button>Button</button>
                </div>
            </div>

            <div class="header-item-container-1 pre-active">
                <div class="header-item-container-2">
                    <button>Button</button>
                </div>
            </div>

            <div class="header-item-container-1 active">
                <div class="header-item-container-2">
                    <button>Button</button>
                </div>
            </div>

            <div class="header-item-container-1 post-active">
                <div class="header-item-container-2">
                    <button>Button</button>
                </div>
            </div>

            <div class="header-item-container-1">
                <div class="header-item-container-2">
                    <button>Button</button>
                </div>
            </div>

        </div>

        <div class="menu-wrapper right">
            right
        </div>

    </div>

</div>
