<div class="menu-container">

    <div class="menu-wrapper">

        <!-- HEADER LEFT -->
        <!-- *********** -->
        <div class="menu-wrapper left">

            <div class="header-item-container-1 logo">
                <img src="../../assets/logo-design-49570.png" alt="">
            </div>

            <div class="header-item-container-1">
                <div class="header-item-container-2" style="padding-left: 0px">
                    <button class="icon">
                        <span class="icon-search" style="font-size: 1.2em"></span>
                    </button>
                </div>
            </div>

            <div class="header-item-container-1" [ngClass]="classFavorite">
                <div class="header-item-container-2">
                    <button class="icon">
                        <span class="icon-star favorite" style="font-size: 1.5em; position: relative; top: 1px;"></span>
                    </button>
                </div>
            </div>

            <!-- Dashboard -->
            <div class="header-item-container-1" [ngClass]="classDashboard">
                <div class="header-item-container-2">
                    <button class="icon" (click)="setItemClass('/dashboard')">
                        <span class="icon-grid" style="font-size: 1.3em; position: relative; top: 1px;"></span>
                    </button>
                </div>
            </div>

            <!-- Workspace -->
            <div class="header-item-container-1" [ngClass]="classWorkspace">
                <div class="header-item-container-2">
                    <button (click)="setItemClass('/workspace')">
                        <span>Workspace</span>
                    </button>
                </div>
            </div>

            <!-- Button -->
            <div class="header-item-container-1" [ngClass]="classContact">
                <div class="header-item-container-2">
                    <button (click)="setItemClass('/contact')">
                        <span>
                            Button
                        </span>
                    </button>
                </div>
            </div>

            <!-- Button -->
            <div class="header-item-container-1">
                <div class="header-item-container-2">
                    <button>
                        <span>
                            Button
                        </span>
                    </button>
                </div>
            </div>

            <!-- Dropdown -->
            <div class="header-item-container-1">
                <div class="header-item-container-2">
                    <div class="dropdown">
                        <button class="drop-button">
                            <span>
                                Dropdown
                            </span>
                        </button>
                        <div class="drop-content-container">
                            <div class="drop-content-wrapper">
                                <div class="drop-item-container">
                                    <span class="sub-menu-label">Dropdown-Item</span>
                                    <span class="icon-star"></span>
                                </div>
                                <div class="drop-item-container">
                                    <span class="sub-menu-label">Dropdown-Item</span>
                                    <span class="icon-star" style="color: #fff982; text-shadow: 0 0 3px rgb(153, 145, 26), 0 0 5px rgb(105, 99, 12);"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Button -->
            <div class="header-item-container-1">
                <div class="header-item-container-2">
                    <button>
                        <span>
                            Button
                        </span>
                    </button>
                </div>
            </div>

            <!-- Dropdown -->
            <div class="header-item-container-1">
                <div class="header-item-container-2">
                    <div class="dropdown">
                        <button class="drop-button">
                            <span>
                                Dropdown
                            </span>
                        </button>
                        <div class="drop-content-container">
                            <div class="drop-content-wrapper">
                                <div class="drop-item-container">
                                    <span class="sub-menu-label">Dropdown-Item</span>
                                    <span class="icon-star"></span>
                                </div>
                                <div class="drop-item-container">
                                    <span class="sub-menu-label">Dropdown-Item</span>
                                    <span class="icon-star" style="color: #fff982; text-shadow: 0 0 3px rgb(153, 145, 26), 0 0 5px rgb(105, 99, 12);"></span>
                                </div>
                                <div class="drop-item-container">
                                    <span class="sub-menu-label">Dropdown-Item</span>
                                    <span class="icon-star" style="color: #fff982; text-shadow: 0 0 3px rgb(153, 145, 26), 0 0 5px rgb(105, 99, 12);"></span>
                                </div>
                                <div class="drop-item-container" routerLink="/test3">
                                    <span class="sub-menu-label">Test-3</span>
                                    <span class="icon-star"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>



        <!-- HEADER RIGHT -->
        <!-- ************ -->
        <div class="menu-wrapper right">
            right
        </div>

    </div>

</div>
