<div class="quicklink-header">
    <span>My Quicklinks</span><br>
    <input type="text" placeholder="Searching...">
</div>

<div class="quicklink-items">
    <div class="quicklink-item-container" *ngFor="let item of quicklinks; index as i">
        <div>
            <span class="icon-one-finger-tap drag"></span>
            <span class="quicklink-value">{{i}} {{item}}</span>
        </div>
        <div>
            <span class="icon-more-vert more-icon"></span>
        </div>
    </div>
</div>
