<!-- Quicklinks -->
<!-- ---------- -->
<div *ngIf="quicklinksVisible" class="quicklinks-container">

    <!-- Quicklink - Header -->
    <!-- ------------------ -->
    <div class="quicklinks-header-container">
        <div class="quicklinks-header-title">
            My Quicklinks
        </div>
        <div class="quicklinks-searching-container">
            <div class="quicklinks-searching-text">
                searching...
            </div>
        </div>
    </div>

    <!-- Quicklink - Items -->
    <!-- ----------------- -->
    <div class="quicklinks-items-wrapper">
        <div class="quicklink-item-container" *ngFor="let quicklink of quicklinks, index as i">

                <div class="quicklink-item-drag-container">
                    <!-- D -->
                    <img src="../../assets/one-finger-tap.svg" alt="">
                </div>

                <div class="quicklink-item-text">
                    {{quicklink}}
                </div>

                <div class="quicklink-item-more-container" (click)="quicklinkMoreSelected(quicklink)">
                    <!-- M -->
                    <img src="../../assets/more-vert.svg" alt="">
                </div>

        </div>
    </div>
</div>