<!-- Navigation -->
<!-- ########## -->
<div class="navigation">

    <!-- Real Navigation-Items -->
    <!-- --------------------- -->
    <div routerLink="/dashboard" [ngClass]="classItemDashboard">
        <img src="../assets/person-icon.png" alt="" *ngIf="activeUrl=='/dashboard'">
        <img src="../assets/person-icon-weiss.png" alt="" *ngIf="activeUrl!='/dashboard'">
    </div>
    <div routerLink="/partner" [ngClass]="classItemPartner">
        <img src="../assets/person-icon.png" alt="" *ngIf="activeUrl=='/partner'">
        <img src="../assets/person-icon-weiss.png" alt="" *ngIf="activeUrl!='/partner'">
    </div>
    <div routerLink="/test" [ngClass]="classItemTest">
        <img src="../assets/person-icon.png" alt="" *ngIf="activeUrl=='/test'">
        <img src="../assets/person-icon-weiss.png" alt="" *ngIf="activeUrl!='/test'">
    </div>

    <!-- Placeholder-Item -->
    <!-- ---------------- -->
    <div [ngClass]="classItemSpacer"></div>

</div>
