<!-- HEADER -->
<!-- ****** -->
<div class="header-background">
    <div class="header-wrapper">
        <span>
            Header
        </span>
    </div>
</div>

<!-- MAIN-AREA -> Navigation / Quicklinks / Content / Additional-Info -->
<!-- **************************************************************** -->
<div class="main-wrapper">

    <!-- Navigation -->
    <!-- ---------- -->
    <div class="navigation">

        <div class="navigation-item pre-active">

        </div>
        <div class="navigation-item active">

        </div>
        <div class="navigation-item post-active">

        </div>
        <div class="navigation-item">

        </div>
        <div class="navigation-item">

        </div>
        <div class="navigation-item">

        </div>
        <div class="navigation-item spacer">

        </div>
    </div>

    <!-- Quicklinks -->
    <!-- ---------- -->
    <div class="quicklinks-wrapper">
        <div class="quicklink-headline-background">
            <div class="quicklink-headline">
                <h1>
                    My Quicklinks
                </h1>
            </div>

            <div class="quicklink-searching">
                Searching...
            </div>
        </div>

        <div class="quicklink-item-wrapper">

            <div class="quicklink-item" *ngFor="let quicklink of quicklinks">
                {{quicklink.name}} {{quicklink.id}}
            </div>

        </div>
    </div>

    <!-- Content -->
    <div class="content-wrapper">

        <div class="content-header-background">
            <div class="content-header-title">
                Partner > Lieferanten / Kunden
            </div>
            <div class="content-header-filter">
                Filter
            </div>
        </div>

        <div class="content-tiles">
            <div class="tile-item" *ngFor="let overviewTile of overviewTiles">
                {{overviewTile.name}} {{overviewTile.id}}
            </div>
        </div>

        <div class="content-version">
            <div>
                <p class="version">Project 0.0.0</p>
                <p>2020 - 2023</p>
                <p>terms and conditions</p>
            </div>
        </div>

        <div class="content-action-menu">
            <span>Actions</span>
        </div>

    </div>

    <!-- Additional-Infos -->
    <div class="additional-info-wrapper">
        <div class="additional-info-headline-background">
            <div class="additional-info-headline">
                <h1>
                    Additional Infos
                </h1>
            </div>
        </div>

        <div class="additional-info-item-wrapper">
            <div class="additional-info-item" *ngFor="let additionalInfo of additionalInfos">
                {{additionalInfo.name}} {{additionalInfo.id}}
            </div>
        </div>
    </div>

</div>
