<div class="header-background">
  <div class="header-wrapper">
      <span>
          Header
      </span>
  </div>
</div>

<div class="main-wrapper">
  <div class="navigation">

      <div class="navigation-item pre-active">

      </div>
      <div class="navigation-item active">

      </div>
      <div class="navigation-item post-active">

      </div>
      <div class="navigation-item">

      </div>
      <div class="navigation-item">

      </div>
      <div class="navigation-item">

      </div>
      <div class="navigation-item spacer">

      </div>

  </div>
  <div class="quicklinks">
      <h1>Meine Quicklinks</h1>
      Suche...
  </div>
</div>
