<app-page-header></app-page-header>

<!-- MAIN-AREA -> Navigation / Quicklinks / Content / Additional-Info -->
<!-- **************************************************************** -->
<div class="main-wrapper">

    <!-- Navigation -->
    <!-- ---------- -->
    <app-main-navigation></app-main-navigation>

    <!-- Quicklinks -->
    <!-- ---------- -->
    <app-quicklinks></app-quicklinks>

    <!-- Content -->
    <div class="content-wrapper">

        TEST...

    </div>

    <!-- Additional-Infos -->
    <div class="additional-info-wrapper">
        <div class="additional-info-headline-background">
            <div class="additional-info-headline">
                <h1>
                    Additional Infos
                </h1>
            </div>
        </div>

        <div class="additional-info-item-wrapper">
            <div class="additional-info-item" *ngFor="let additionalInfo of additionalInfos; let i = index">
                {{additionalInfo.name}} {{i + 1}}
            </div>
        </div>
    </div>

</div>
