.grid-page-structure {
    background-color: #6f879b;
    background-color: #d6d6d6;
    display: grid;
    grid-template-rows: 48px 48px auto;
	width: 100vw;
	height: calc(100vh);
	position: fixed;

    .header-structure {
        background-color: white;
        border-bottom: 1px solid rgb(0, 0, 0, 0.2);
        display: flex;
        align-items: center;

        .searching {
            flex: 33%;
            margin-left: 28px;
        }

        .logo {
            flex: 34%;
            text-align: center;
        }

        .function-wrapper {
            flex: 33%;
            margin-right: 28px;
            text-align: right;
        }
    }

    .menu-structure {
        background-color: transparent;
        box-shadow: 0px 4px 4px 0px rgba(44, 80, 103, 0.6);
        display: flex;
        position: relative;
        z-index: 10;

        .menu-item {
            height: 100%;
            display: flex;
            align-items: center;
            margin: 0 16px;
            position: relative;
            overflow: visible;

            .menu-background {
                padding: 8px 12px;
                font-size: 1.1em;
                font-weight: bold;
                color: #747474;
            }

            .menu-background.active {
                color: white;
            }

            .menu-background:hover:not(.active) {
                background-color: rgba(44, 80, 103, .2);
                border-radius: 8px;
                color: #395464;
            }

            .triangle-left.active {
                width: 76px;
                height: 48px;
                background-color: #577384;
                clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                position: absolute;
                top: 0px;
                left: -38px;
                z-index: -1;
            }

            .triangle-right.active {
                width: 76px;
                height: 48px;
                background-color: #577384;
                clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                position: absolute;
                top: 0px;
                right: -38px;
                z-index: -1;
            }
        }

        .menu-item.active {
            background-color: #577384;
            margin: 0 28px;
        }

        .menu-item:hover:not(.active) {
            cursor: pointer;
            color: #2c2c2c;
        }

        .menu-item.active:hover {
            cursor: pointer;
        }

        .menu-item:hover:not(.active) .menu-background {
            background-color: rgba(44, 80, 103, .2);
            border-radius: 8px;
            color: #395464;
        }

        .submenu-wrapper {
            display: none;
            background-color: #d6d6d6;
            position: fixed;
            top: 96px;
            left: 0;
            width: 100vw;
            min-height: 60px;
            padding: 16px 28px;
            box-shadow: 0px 4px 4px 0px rgba(44, 80, 103, 0.6);
            border-radius: 0 0 8px 8px;
            border-top: 1px solid #577384;
            z-index: 5;

            .submenu-item {
                background-color: rgba(87, 115, 132, .2);
                width: 300px;
                height: 44px;
                border-radius: 8px;
                display: flex;
                align-items: center;
                padding: 4px 12px;
                box-shadow: 2px 2px 4px 0px rgba(44, 80, 103, 0.6);
                border: 1px solid rgba(87, 115, 132, .2);
            }

            .submenu-item:not(:last-child) {
                margin-bottom: 12px;
            }

            .submenu-item:hover {
                background-color: rgba(87, 115, 132, .3);
                border: 1px solid rgba(87, 115, 132, .3);
            }
        }

        .submenu-wrapper.active {
            background-color: #577384;
            color: white;
            border-top: 1px solid #8096A4;


            .submenu-item {
                background-color: rgba(255, 255, 255, .2);
                width: 300px;
                height: 44px;
                border-radius: 8px;
                display: flex;
                align-items: center;
                padding: 4px 12px;
                box-shadow: 2px 2px 4px 0px rgba(44, 80, 103, 0.6);
                border: 1px solid rgba(87, 115, 132, .2);
            }

            .submenu-item:not(:last-child) {
                margin-bottom: 12px;
            }

            .submenu-item:hover {
                background-color: rgba(255, 255, 255, .1);
                border: 1px solid rgba(87, 115, 132, .3);
            }
        }

        .menu-item:hover .submenu-wrapper {
            display: block;
            animation: example;
            animation-duration: 0.3s;
        }

        /* The animation code */
        @keyframes example {
            from {
                // background-color: #d6d6d6;
                // display: none;
                // top: 48px;
                opacity: 0;
            }
            to {
                // background-color: red;
                // display: block;
                // top: 96px;
                opacity: 1;
            }
        }
    }

    .content-structure {
        background-color: rgba(44, 80, 103, 0.6);
        padding: 10px;
        overflow-y: hidden;

        .content-background {
            background-color: white;
            height: 100%;
            border-radius: 8px;
            display: grid;
            grid-template-columns: 240px auto 240px;
            overflow-y: hidden;

            .quicklink-wrapper {
                // background-color: #ffa500;
                display: flex;
                flex-direction: column;
                overflow-y: scroll;
                // height: 100%;
                box-shadow: 0px 8px 8px 4px rgba(44, 80, 103, 0.6);

                .quicklink-headline-wrapper {
                    // background-color: lime;
                    height: 32px;
                    border-radius: 6px;
                    margin: 16px 16px 12px 16px;
                    font-weight: bold;
                    color: rgb(130, 130, 130);
                    display: flex;
                    overflow: visible;
                    position: fixed;
                    width: 200px;

                    .threepoint-box {
                        // background-color: yellow;
                        position: absolute;
                        right: 0px;
                        height: 32px;
                        width: 32px;
                        display: flex;
                        justify-content: space-around;
                    }
                }

                .quicklist-item {
                    margin: 6px 16px 0px 16px;
                    background-color: rgba(0, 0, 0, .06);
                    min-height: 32px;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    padding-left: 8px;
                    position: relative;
                }

                .quicklist-item:first-child {
                    margin-top: 48px;
                }

                .quicklist-item:last-child {
                    margin-bottom: 16px;
                }

            }

            .content-wrapper {

            }

            .addinfo-wrapper {
                img {
                    width: 50px;
                }
            }
        }

    }

}





::-webkit-scrollbar {
	width: 8px;
	// height: 10px;
	// border-radius: 6px;
  }

 ::-webkit-scrollbar-track {
	background: #d3d3d3;
	// border-radius: 0 5px 5px 0;
 }

 ::-webkit-scrollbar-thumb {
	background: #70889b;
	// border-radius: 5px;
 }

 ::-webkit-scrollbar-thumb:hover {
   	background: #4d687e;
 }
