<!-- HEADER -->
<!-- ****** -->
<div class="header-background">
    <div class="header-wrapper">

        <div class="header-left">
            <div class="burger-button-wrapper">
                <div class="burger-button-background">
                    <div class="burger-button">
                        <img src="../assets/earth.svg" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="header-center">
            <div class="header-logo">
                <span>
                    <a routerLink="/">LOGO</a>
                    <!-- LOGO -->
                </span>
            </div>
        </div>

        <div class="header-right">
            <div class="header-functions">
                <span>Functions</span>
            </div>
        </div>

    </div>
</div>

<!-- MAIN-AREA -> Navigation / Quicklinks / Content / Additional-Info -->
<!-- **************************************************************** -->
<div class="main-wrapper">

    <!-- Navigation -->
    <!-- ---------- -->
    <div class="navigation">

        <div class="navigation-item pre-active">
            <img src="../assets/person-icon-weiss.png" alt="">
        </div>
        <div class="navigation-item active">
            <img src="../assets/person-icon.png" alt="">
        </div>
        <div class="navigation-item post-active">
            <img src="../assets/person-icon-weiss.png" alt="">
        </div>
        <div class="navigation-item">
            <img src="../assets/person-icon-weiss.png" alt="">
        </div>
        <div class="navigation-item">
            <img src="../assets/person-icon-weiss.png" alt="">
        </div>
        <div class="navigation-item">
            <img src="../assets/person-icon-weiss.png" alt="">
        </div>

        <div class="navigation-item spacer"></div>
    </div>

    <!-- Quicklinks -->
    <!-- ---------- -->
    <div class="quicklinks-wrapper">
        <div class="quicklink-headline-background">
            <div class="quicklink-headline">
                <h1>
                    My Quicklinks
                </h1>
            </div>

            <div class="quicklink-searching">
                Searching...
            </div>
        </div>

        <div class="quicklink-item-wrapper">
            <div class="quicklink-item" *ngFor="let quicklink of quicklinks; let i = index">
                {{quicklink.name}} {{i + 1}}
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="content-wrapper">

        <!-- Content-Header & Filter -->
        <div class="content-header-background">
            <div class="content-header-title">
                <div class="object-name">
                    Partner
                </div>
                <div class="object-menu active">
                    Alle
                </div>
                <div class="object-menu">
                    Kunden
                </div>
                <div class="object-menu">
                    Lieferanten
                </div>
            </div>
            <div class="content-header-filter">
                Filter
            </div>
        </div>

        <!-- Content-Tiles -->
        <div class="content-tiles">
            <div class="tile-item" *ngFor="let object of objects; let i = index">
                {{object.name}} {{i + 1}}
            </div>
        </div>

        <!-- Content-Version -->
        <div class="content-version">
            <div>
                <p class="version">Project 0.0.0</p>
                <p>2020 - 2023</p>
                <p>terms and conditions</p>
            </div>
        </div>

        <!-- Action-Menu -->
        <div class="content-action-menu">

            <div class="action-menu-left">
                <div class="action-button">
                    Action left 1
                </div>
                <div class="action-button">
                    Action left  2
                </div>
                <div class="action-button">
                    Action left  3
                </div>
            </div>

            <div class="action-menu-right">
                <div class="action-button">
                    Action right 1
                </div>
                <div class="action-button">
                    Action right 2
                </div>
                <div class="action-button">
                    Auswahl löschen
                </div>
            </div>

        </div>
    </div>

    <!-- Additional-Infos -->
    <div class="additional-info-wrapper">
        <div class="additional-info-headline-background">
            <div class="additional-info-headline">
                <h1>
                    Additional Infos
                </h1>
            </div>
        </div>

        <div class="additional-info-item-wrapper">
            <div class="additional-info-item" *ngFor="let additionalInfo of additionalInfos; let i = index">
                {{additionalInfo.name}} {{i + 1}}
            </div>
        </div>
    </div>

</div>
