.grid-page-structure {
    background-color: #6f879b;
    background-color: #d6d6d6;
    display: grid;
    grid-template-rows: 48px 40px auto;
	width: 100vw;
	height: calc(100vh);
	position: fixed;

    .header-structure {
        background-color: white;
        border-bottom: 1px solid rgb(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        overflow: visible;

        .searching-container {
            flex: 33%;
            margin-left: 10px;                      
                        
            .searching-background {
                background-color: rgb(240, 240, 240);
                max-width: 350px;
                height: 28px;
                border-radius: 6px;
                display: flex;
                align-items: center;
                padding-left: 8px;
                border: 1px solid rgb(230, 230, 230);

                img {
                    width: 20px;
                    margin-top: 2px;
                    margin-right: 6px;
                }

                span {
                    padding-top: 2px;
                    color: rgb(158, 158, 158);
                    font-style: italic;
                }

            }
        }

        .logo {
            flex: 34%;
            text-align: center;            
        }

        .function-wrapper {
            flex: 33%;
            margin-right: 10px;
            text-align: right;
            overflow: visible;

            // Functions
            // ---------
            .header-function-button {
                background-color: rgba(0, 0, 0, 0.1);
                height: 32px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                border: 1px solid rgba(0, 0, 0, 0.12);
                border-radius: 6px;
                margin-left: 6px;
            }
            
            // DropDowns
            // ---------
            .dropdown {
                position: relative;
                display: inline-block;
                overflow: visible;
                margin-left: 8px;

                .drop-button {
                    background-color: #dfdfdf;
                    color: white;
                    height: 32px;
                    padding: 6px 12px;
                    font-size: 16px;
                    border: none;
                    cursor: pointer;
                    border-radius: 4px;
                    overflow: visible;
                    border: 1px solid rgba(0, 0, 0, .14);
                    
                    img {
                        height: 20px;
                    }
                }
                
                .drop-content {
                    display: none;
                    position: absolute;
                    right: 0px;
                    background-color: #f9f9f9;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    z-index: 100;
                    border-radius: 4px;
                    min-width: 200px;
                }

                .drop-content a {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                }

                // Special for time tracking
                // -------------------------
                .drop-content.time-tracking {
                    // background-color: lime;
                    padding: 12px 16px;
                    min-width: 400px;
                    min-height: 600px;
                    text-align: center;
                }
                
                // Special for Profile-Button
                // --------------------------
                .drop-button.profile {
                    background-color: #6f879b;
                }
            }            
            
            .drop-content a:hover {background-color: #e6e6e6;}
            .dropdown:hover .drop-button {background-color: #c5c5c5;}
            .dropdown:hover .drop-content {display: block;}

            // Special für Profile-Button
            // --------------------------
            .dropdown:hover .drop-button.profile {background-color: #5f768a;}

            

        }
    }
    
    .menu-structure {
        background-color: transparent;
        box-shadow: 0px 4px 4px 0px rgba(44, 80, 103, 0.6);
        display: flex;
        position: relative;
        z-index: 10;

        .menu-item {
            // background-color: lime;
            height: 100%;            
            display: flex;
            align-items: center;
            margin: 0px 16px;
            position: relative;
            overflow: visible;  //Nur nötig, weil im sylte.scss * > "overflow" auf hidden steht...

            .menu-background {
                padding: 4px 10px;
                font-size: 1em;
                font-weight: bold;
                color: #747474;
            }

            .menu-background.active {
                color: white;
            }

            .menu-background:hover:not(.active) {
                border-radius: 8px;
                color: #395464;
            }

            .triangle-left.active {
                width: 76px;
                height: 40px;
                background-color: #577384;
                clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                position: absolute;
                top: 0px;
                left: -38px;
                z-index: -1;
            }

            .triangle-right.active {
                width: 76px;
                height: 40px;
                background-color: #577384;
                clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                position: absolute;
                top: 0px;
                right: -38px;
                z-index: -1;
            }
        }

        .menu-item.active {
            background-color: #577384;
            margin: 0 28px;
        }

        .menu-item:hover:not(.active) {
            cursor: pointer;
            color: #2c2c2c;
        }
        
        .menu-item.active:hover {
            cursor: pointer;
        }

        .menu-item:hover:not(.active) .menu-background {
            background-color: rgba(44, 80, 103, .2);
            border-radius: 6px;
            color: #395464;
        }
        
        .submenu-wrapper {
            display: none;
            background-color: #d6d6d6;
            position: fixed;
            top: 88px;
            left: 0;
            width: 100vw;
            min-height: 60px;
            padding: 24px 24px;
            box-shadow: 0px 4px 4px 0px rgba(44, 80, 103, 0.6);
            border-radius: 0 0 8px 8px;
            border-top: 1px solid #577384;
            z-index: 5;

            .submenu-item {
                background-color: rgba(87, 115, 132, .2);
                width: 300px;
                height: 44px;
                border-radius: 8px;
                display: flex;
                align-items: center;
                padding: 4px 12px;
                box-shadow: 2px 2px 4px 0px rgba(44, 80, 103, 0.6);
                border: 1px solid rgba(87, 115, 132, .2);
            }

            .submenu-item:not(:last-child) {
                margin-bottom: 12px;
            }

            .submenu-item:hover {
                background-color: rgba(87, 115, 132, .3);
                border: 1px solid rgba(87, 115, 132, .3);
            }
        }
        
        .submenu-wrapper.active {
            background-color: #577384;
            color: white;
            border-top: 1px solid #8096A4;
            
            .submenu-item {
                background-color: rgba(255, 255, 255, .2);
                width: 300px;
                height: 44px;
                border-radius: 8px;
                display: flex;
                align-items: center;
                padding: 4px 12px;
                box-shadow: 2px 2px 4px 0px rgba(44, 80, 103, 0.6);
                border: 1px solid rgba(87, 115, 132, .2);
            }

            .submenu-item:not(:last-child) {
                margin-bottom: 12px;
            }

            .submenu-item:hover {
                background-color: rgba(255, 255, 255, .1);
                border: 1px solid rgba(87, 115, 132, .3);
            }
        }

        .menu-item:hover .submenu-wrapper {
            display: block;
            animation: expand-menu;
            animation-duration: 0.3s;
        }
        
    }
    
    .content-structure {
        background-color: rgba(44, 80, 103, 0.6);
        padding: 10px;
        overflow: hidden;

        .content-background {
            background-color: #d3d3d3;
            background-color: #d6d6d6;
            height: 100%;
            border-radius: 8px;
            display: grid;
            grid-template-columns: 240px auto 240px;
            overflow: hidden;

            .quicklink-container {
                background-color: white;
                height: 100%;
                overflow-y: scroll;
                // box-shadow: 4px 0px 6px 2px rgba(0, 0, 0, 0.08);
                z-index: 2;
                
                .headline-wrapper {
                    background-color: rgba(255, 255, 255, 1);
                    height: 48px;
                    width: 232px;
                    padding: 8px 24px;
                    position: fixed;
                    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.08);
                    display: flex;
                    align-items: center;
                    border-radius: 8px 0 0 0;

                    .headline {
                        color: rgb(110, 110, 110);
                        font-size: .9em;
                        font-weight: bold;
                    }
                }

                .quicklink-wrapper {

                    .quicklink-item {
                        background-color: rgba(0, 0, 0, 0.04);
                        color: rgb(150, 150, 150);
                        padding: 4px 12px;
                        height: 32px;
                        margin: 8px 12px;
                        border-radius: 6px;
                        display: flex;
                        align-items: center;
                        font-size: .9em;               
                    }

                    .quicklink-item:first-child {
                        margin-top: 64px;
                    }

                    .quicklink-item:hover {
                        background-color: rgba(0, 0, 0, 0.08);
                        cursor: pointer;
                        color: rgb(110, 110, 110);
                        font-weight: bold; 
                    }
                }
            }

            .main-content-wrapper {
                overflow-y: scroll;

                .main-content-header-container {
                    background-color: white;
                    padding: 12px 27px;
                    height: 100px;
                    position: fixed;
                    width: calc(100% - 500px - 8px);
                    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.08);
                    border-radius: 0 0 8px 8px;
                    z-index: 4;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
                    border-left: 1px solid rgba(0, 0, 0, 0.24);
                    border-right: 1px solid rgba(0, 0, 0, 0.24);
                }

                .content-tile-wrapper {
                    margin: 118px 16px 16px 16px;

                    .content-tile-container {
                        background-color: rgba(255, 255, 255, .84);
                        min-height: 60px;
                        border-radius: 8px;
                        padding: 6px 12px;
                        border: 1px solid rgba(0, 0, 0, .2);
                        margin-bottom: 8px;
                        color: rgb(120, 120, 120);
                    }
                    
                    .content-tile-container:last-child {
                        margin-bottom: 250px;
                    }

                    .content-tile-container:hover {
                        background-color: rgba(255, 255, 255, 1);
                        box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.14);
                        cursor: pointer;
                        color: rgb(80, 80, 80);
                        border: 1px solid rgba(0, 0, 0, .2);
                        font-weight: bold;
                    }
                }

                .main-content-pagination {
                    margin: 20px 0px 12px 0px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    .center {
                        text-align: center;
                    }
                      
                    .pagination {
                        display: inline-block;
                    }
                      
                    .pagination a {
                        color: black;
                        float: left;
                        padding: 6px 12px;
                        text-decoration: none;
                        transition: background-color .3s;
                        border: 1px solid #b4b4b4;
                        border-radius: 4px;
                        margin: 0 4px;
                        cursor: pointer;
                    }
                      
                    .pagination a.active {
                        background-color: #6f879b;
                        color: white;
                        border: 1px solid #6f879b;
                    }
                      
                    .pagination a:hover:not(.active) {
                        background-color: #ececec;
                        border: 1px solid #949494;
                    }

                }

                .main-content-version {
                    // background-color: orange;
                    margin: 12px 0px 60px 0px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    p{
                        font-size: .8em;
                        margin-top: 2px;
                        color: rgb(129, 129, 129);
                    }
                }

                .main-content-actions-container {
                    background-color: white;
                    padding: 12px 16px;
                    height: 56px;
                    position: fixed;
                    bottom: 10px;
                    width: calc(100% - 500px - 8px);
                    box-shadow: 0px -2px 6px 2px rgba(0, 0, 0, 0.08);
                    border-radius: 8px 8px 0 0;
                    z-index: 4;
                    border-top: 1px solid #bec8cf;
                    border-left: 1px solid #bec8cf;
                    border-right: 1px solid #bec8cf;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .actions-wrapper-left {
                        display: flex;           
                    }

                    .actions-wrapper-center {
                        display: flex; 
                    }

                    .actions-wrapper-right {
                        display: flex;
                    }

                }

                .main-content-actions-container-expanded {
                    background-color: white;
                    padding: 12px 16px;
                    height: 156px;
                    position: fixed;
                    bottom: 10px;
                    width: calc(100% - 500px - 8px);
                    box-shadow: 0px -2px 6px 2px rgba(0, 0, 0, 0.08);
                    border-radius: 8px 8px 0 0;
                    z-index: 4;
                    border-top: 1px solid #bec8cf;
                    border-left: 1px solid #bec8cf;
                    border-right: 1px solid #bec8cf;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                .action-button-container {
                    background-color: rgba(0, 0, 0, .1);
                    padding: 4px 8px;
                    border-radius: 4px;
                    display: flex;
                    border: 1px solid rgba(0, 0, 0, .14);
                    max-height: 32px;
                    margin-right: 8px;

                    .action-button-icon {
                        margin-right: 4px;

                        img {
                            margin-top: 2px;
                            height: 20px;
                        }
                    }

                    .action-button-label {
                        padding-top: 3px;
                    }

                    .action-button-icon-only {

                        img {
                            margin-top: 2px;
                            height: 20px;
                        }
                    }

                }

                .action-button-container:last-child {
                    margin-right: 0px;
                }

                .action-button-container.save {
                    background-color: rgba(93, 204, 117, 0.6);
                }

                .action-button-container.delete {
                    background-color: rgba(235, 140, 140, 0.6);
                }

                .action-button-container:hover {
                    background-color: rgba(0, 0, 0, .2);
                    cursor: pointer;
                }

                .action-button-container.save:hover {
                    background-color: rgba(93, 204, 117, 1);
                    cursor: pointer;
                }

                .action-button-container.delete:hover {
                    background-color: rgb(238, 129, 129);
                    cursor: pointer;
                }

                

            }

            .addinfo-wrapper {
                background-color: white;
                // box-shadow: -10px 0px 6px 2px rgba(0, 0, 0, 0.08);
                z-index: 2;
                padding: 12px 16px;
                overflow-y: scroll;                
            }
        }
    }
}


// The Scroll-Bar Code
// *******************
::-webkit-scrollbar {
	width: 8px;
	// height: 10px;
	// border-radius: 6px;
  }
 
 ::-webkit-scrollbar-track {
	background: #d3d3d3;
	// border-radius: 0 5px 5px 0;
 }
 
 ::-webkit-scrollbar-thumb {
	background: #70889b;
	// border-radius: 5px;
    
 }
 
 ::-webkit-scrollbar-thumb:hover {
   	background: #727272;
 }



// The animation code
// ******************
 @keyframes expand-menu {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
