<div class="grid-page-structure">


    <!-- HEADER -->
    <!-- ****** -->
    <div class="header-structure">
        <div class="searching">
            Searching
        </div>
        <div class="logo">
            Logo
        </div>
        <div class="function-wrapper">
            Funktions
        </div>
    </div>


    <!-- MENU-STRUCTURE -->
    <!-- ************** -->
    <div class="menu-structure">

        <!-- MENU-ITEM 1 -->
        <!-- *********** -->
        <div class="menu-item">
            <div class="triangle-left"></div>
                <div class="menu-background">
                    Menüpunkt 1
                </div>
            <div class="triangle-right"></div>

            <!-- MENU-OPTIONS -->
            <div class="submenu-wrapper">

                <div class="submenu-item" routerLink="/partner">
                    Menüpunkt 1 - Unterpunkt 1
                </div>

            </div>
        </div>

        <!-- MENU-ITEM 2 -->
        <!-- *********** -->
        <div class="menu-item active">
            <div class="triangle-left active"></div>
            <div class="menu-background active">
                Menüpunkt 2
                </div>
            <div class="triangle-right active"></div>

            <!-- MENU-OPTIONS -->
            <div class="submenu-wrapper active">

                <div class="submenu-item active">
                    Menüpunkt 2 - Unterpunkt 1
                </div>

            </div>
        </div>

        <!-- MENU-ITEM 3 -->
        <!-- *********** -->
        <div class="menu-item">
            <div class="triangle-left"></div>
                <div class="menu-background">
                    Menüpunkt 3
                </div>
            <div class="triangle-right"></div>

            <!-- MENU-OPTIONS -->
            <div class="submenu-wrapper">

                <div class="submenu-item">
                    Menüpunkt 3 - Unterpunkt 1
                </div>

            </div>
        </div>

        <!-- MENU-ITEM 4 -->
        <!-- *********** -->
        <div class="menu-item">
            <div class="triangle-left"></div>
            <div class="menu-background">
                    Menüpunkt 4
                </div>
            <div class="triangle-right"></div>

            <!-- MENU-OPTIONS -->
            <div class="submenu-wrapper">

                <div class="submenu-item">
                    Menüpunkt 4 - Unterpunkt 1
                </div>
                <div class="submenu-item">
                    Menüpunkt 4 - Unterpunkt 2
                </div>

            </div>
        </div>

    </div>


    <!-- CONTENT -->
    <!-- ******* -->
    <div class="content-structure">
        <div class="content-background">

            <div class="quicklink-wrapper">

                <div class="quicklink-headline-wrapper">
                    <div class="test">
                        <span class="headline-label">MY QUICKLINKS</span>
                        <div class="threepoint-box">3P</div>
                    </div>
                </div>

                <div class="quicklist-item">Test1</div>
                <div class="quicklist-item">Test2</div>
                <div class="quicklist-item">Test3</div>
                <div class="quicklist-item">Test4</div>
                <div class="quicklist-item">Test5</div>
                <div class="quicklist-item">Test6</div>
                <div class="quicklist-item">Test7</div>
                <div class="quicklist-item">Test8</div>
                <div class="quicklist-item">Test9</div>
                <div class="quicklist-item">Test</div>
                <div class="quicklist-item">Test</div>
                <div class="quicklist-item">Test</div>
                <div class="quicklist-item">Test</div>
                <div class="quicklist-item">Test</div>
                <div class="quicklist-item">Test</div>
                <div class="quicklist-item">Test</div>
                <div class="quicklist-item">Test</div>
                <div class="quicklist-item">Test</div>
                <div class="quicklist-item">Test</div>
                <div class="quicklist-item">Test</div>
                <div class="quicklist-item">Test</div>
                <div class="quicklist-item">Test</div>
                <div class="quicklist-item">Test</div>
                <div class="quicklist-item">Test</div>
                <div class="quicklist-item">Test</div>

            </div>

            <div class="content-wrapper">
                <div style="margin: 16px;">
                    Content
                </div>
            </div>

            <div class="addinfo-wrapper">
                <div style="margin: 16px;">
                    Additional-Infos
                    <br>
                    <br>
                    <img src="../../assets/calendar2.svg" alt="">
                </div>
            </div>

        </div>
    </div>

</div>
