<!-- Page -->
<!-- **** -->
<div class="page-structure">

    <!-- Header -->
    <!-- ****** -->
    <div class="page-header-container">

            <!-- Header-Left -->
            <!-- *********** -->
            <div class="page-header-wrapper left">

                <!-- LOGO -->
                <!-- #### -->
                <div class="page-header-button-container" style="margin-right: 8px;">
                    <img src="../../assets/logo-design-49570.png" alt="">
                </div>



                <!-- Searching -->
                <!-- ######### -->
                <div class="test1">
                    <div class="test2">
                        <div class="test3">

                            <img src="../../assets/search.png" alt="">

                        </div>
                    </div>
                </div>


                <!-- Menu-Items -->
                <div class="test1">
                    <div class="test2">
                        <div class="test3">

                            <img src="../../assets/pencilwrench_dark.svg" alt="">

                            <span>
                                Workspace
                            </span>

                        </div>
                    </div>
                </div>

                <div class="test1 pre-active">
                    <div class="test2">
                        <div class="test3">
                            <span>
                                Kontakte
                            </span>
                        </div>
                    </div>
                </div>

                <div class="test1 active">
                    <div class="test2">
                        <div class="test3">
                            <span>
                                Vorgänge & Belege
                            </span>
                        </div>
                    </div>
                </div>

                <div class="test1 post-active">
                    <div class="test2">
                        <div class="test3">
                            <span>
                                Auftragsabwicklung
                            </span>
                        </div>
                    </div>
                </div>

                <div class="test1">
                    <div class="test2">
                        <div class="test3">
                            <span>
                                Rechnungswesen
                            </span>
                        </div>
                    </div>
                </div>

                <div class="test1">
                    <div class="test2">
                        <div class="test3">
                            <span>
                                Produktverwaltung
                            </span>
                        </div>
                    </div>
                </div>

                <div class="test1">
                    <div class="test2">
                        <div class="test3">
                            <span>
                                Vertragswesen
                            </span>
                        </div>
                    </div>
                </div>

                <div class="test1">
                    <div class="test2">
                        <div class="test3">
                            <span>
                                Tools & Assets
                            </span>
                        </div>
                    </div>
                </div>

                <div class="test1">
                    <div class="test2">
                        <div class="test3">
                            <span>
                                Statistik & Reporting
                            </span>
                        </div>
                    </div>
                </div>

                <div class="test1">
                    <div class="test2">
                        <div class="test3" routerLink="/test3">
                            <span>
                                TEST-3
                            </span>
                        </div>
                    </div>
                </div>

            </div>


            <!-- Header-Right -->
            <!-- ************ -->
            <div class="page-header-wrapper right">



            </div>


    </div>

    <!-- Content -->
    <!-- ******* -->
    <div class="page-content-container">
        Content
    </div>
</div>

