$highlight-color-dark: #2c5067;
$highlight-color-mid: #527083;
$highlight-color-light: #7a9db8;
$highlight-color-lightest: #b6d5ec;


.page-structure {
    height: 100vh;
    display: grid;
    grid-template-rows: 40px auto;
    background-color: $highlight-color-mid;

    img {
        height: 20px;
        width: auto;
    }

    .page-header-container {
        background-color: white;
        box-shadow: 0 4px 4px -2px #0006;

        .page-header-wrapper {
            background-color: lime;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: 100%;

            .test1 {
                // background-color: orange;
                height: 100%;
            }


        }



        .page-header-wrapper.left {
            background-color: lightblue;

        }

        .page-header-wrapper.right {
            background-color: lightcoral;

        }









        // .header-wrapper-left {
        //     display: flex;
        //     flex-direction: row;
        //     align-items: center;
        //     height: 100%;

        //     .button {
        //         background-color: #e4e4e4;
        //         display: flex;
        //         align-items: center;
        //         justify-content: space-around;
        //         height: 28px;
        //         width: 28px;
        //         margin-left: 6px;
        //         border-radius: 6px;

        //         img {
        //             width: 12px;
        //             height: auto;
        //         }

        //     }

        //     .button:hover {
        //         background-color: $highlight-color-light;
        //         cursor: pointer;
        //     }

        //     img {
        //         height: 24px;
        //     }

        //     .menu-wrapper {
        //         display: flex;
        //         flex-direction: row;
        //         align-items: center;
        //         margin-left: 8px;

        //         .menu-item {
        //             background-color: $highlight-color-mid;
        //             width: 28px;
        //             height: 28px;
        //             margin-right: 8px;
        //             display: flex;
        //             align-items: center;
        //             justify-content: space-around;
        //         }



        //     }
        // }

        // .header-wrapper-right {
        //     display: flex;
        //     flex-direction: row;

        //     .button {
        //         background-color: #e4e4e4;
        //         display: flex;
        //         align-items: center;
        //         justify-content: space-around;
        //         height: 28px;
        //         width: 28px;
        //         margin-left: 6px;
        //         border-radius: 6px;
        //     }

        //     .button:hover {
        //         background-color: $highlight-color-light;
        //         cursor: pointer;
        //     }

        //     img {
        //         height: 20px;
        //     }

        //     .button.add {
        //         background-color: #74d478;
        //     }

        //     .button.add:hover {
        //         background-color: #4db150;
        //         cursor: pointer;
        //     }

        //     .button.profile {
        //         background-color: $highlight-color-light;
        //         border-radius: 14px;

        //         img {
        //             height: 24px;
        //         }
        //     }

        //     .button.profile:hover {
        //         background-color: $highlight-color-mid;
        //         cursor: pointer;
        //     }

        // }
    }

    .page-content-container {
        margin: 12px;
        background-color: white;
        border-radius: 8px;

    }
}
