$highlight-color-dark: #2c5067;
$komplementaer-color-dark: #d3af98;
$highlight-color-mid: #527083;
$komplementaer-color-mid: #e6c4af;
$highlight-color-light: #7392a5;
$komplementaer-color-light: #f3d5c2;
$highlight-color-lighter: #7a9db8;
$highlight-color-lighter: #fae4d7;

/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=23v0u0kjuke3pvF2UlQeY8lztq0 */

/* Main Primary color */
/* ################## */
$color-primary-0 : #2C5067;
$color-primary-1: #89949b;
$color-primary-2: #666C6F;
$color-primary-3: #18232A;
$color-primary-4: #075384;

/* Main Complement color */
/* ##################### */
$color-complement-0: #A1763F;
$color-complement-1: #FCF0E2;
$color-complement-2: #AEA79E;
$color-complement-3: #423523;
$color-complement-4: #CF7400;

// Complete Page Structure
// ***********************
.page-structure {
    background-color: $highlight-color-mid;
    display: grid;
    grid-template-rows: 40px auto;
    height: 100vh;
    overflow: visible;

    // Page Header
    // ************
    .page-header-container {
        background-color: #2c5067;
    }

    // Page Content
    // ************
       .page-content-container {
        margin: 12px;
        background-color: white;
        border-radius: 8px;

    }
}
